nav {
    width: 200px;
    min-width: 200px;
    height: 100vh;
    background-color: #001233;
}

.ul-nav {
    display: flex;
    flex-direction: column;
}

.li-item {
    list-style: none;
    padding: 30px 35px;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
}

/* Responsive menu */
.icon {
    display: none;
}

.icon-menu {
    display: none;
}

.icon-stack {
    display: none;
}

.icon {
    display: none;
}

.menu-close {
    display: none;
}

.nav-menu-active {
    display: none;
}

@media (max-width: 1030px) {
    .icon {
        display: flex;
        flex-direction: column;
    }

    .icon-menu {
        display: block;
        background-color: #001233;
        width: 100%;
    }

    .icon-stack {
        display: block;
        padding: 30px;
        cursor: pointer;
    }

    .icon {
        display: block;
        padding: 30px;
        cursor: pointer;
    }

    .menu-close {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        min-width: 200px;
        height: 100vh;
        background-color: #001233;
        transition: 800ms;
        transform: translate(-200px);
    }

    .nav-menu-active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(0px);
        transition: 400ms;
    }
}
