#sign-up-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#sign-up-form{
    box-shadow: 0px 1px 6px rgba(0, 0, 0, .35);
    display: flex;
    align-items: center;    
    flex-direction: column;
    height: 700px;
    border-radius: 10px;
    justify-content: center;
}