@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Lato', sans-serif;
}

.main-container{
  margin-left: 200px;
}


@media (max-width: 600px) {

   .main-container{
       margin: 0%;
       width: 100%;
   }

}
